.recover-modal {
  $modal-offset: calc(
    100vh - #{var(--modal-margin)} - #{var(--modal-heading-height)}
  );

  .modal-content {
    @media (max-width: 575px) {
      flex-direction: column;
      display: flex;
    }
  }

  .modal-layout-content {
    flex: 1;
    min-height: min(500px, #{$modal-offset});

    @media (min-width: 576px) {
      min-height: min(485px, #{$modal-offset});
    }

    @media (min-width: 768px) {
      min-height: min(530px, #{$modal-offset});
    }

    @media (min-width: 768px) and (min-height: 825px) {
      min-height: min(695px, #{$modal-offset});
    }

    .mnemonic-form,
    .password-form {
      margin-top: -16px;

      @media (min-width: 768px) {
        margin-top: -24px;
      }
    }

    .modal-layout-title {
      margin-bottom: 32px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .modal-layout-subtitle {
      margin-top: 0 !important;
      margin-bottom: 32px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }

      br {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    .modal-layout-small {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }
    }

    .recover-small {
      color: var(--muted);
    }

    .recover-top {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      margin: auto;
      position: relative;
      width: 100%;
    }

    .recover-mnemonics {
      padding: 12px;
      background-color: var(--body-bg);
      border: 1px solid var(--body-bg);
      border-radius: 8px;
      width: 100%;
      min-height: 58px;
      display: flex;

      @media (min-width: 768px) {
        padding: 20px;
        min-height: 74px;
      }

      &.invalid {
        border-color: var(--danger);
      }

      .DraggableTags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &::-webkit-scrollbar {
          display: none;
        }

        & > div {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
        }
      }
    }

    .recover-state div {
      margin: 0;
      margin-top: 16px;
      line-height: 1.25;

      br {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    .recover-instructions {
      text-align: center;
      font-family: 'Inter', sans-serif;
      margin: 0 auto 32px;
      color: var(--heading-color);

      br {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    .recover-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1;
    }
  }
}
