@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .group:hover .group-hover\:block {
    display: block;
    text-decoration: underline;
  }
}

.mx-transactions > td {
  @apply p-2;
}

.mx-transactions td > span,
.mx-transactions td > div {
  @apply flex w-max;
}

.mx-transactions td > div > a {
  @apply text-blue-600;
}

.output-container {
  max-height: 800px;
}

.dapp-core-component__dappModalStyles__dappModalContent {
  max-width: 800px !important;
}

.dapp-core-component__addressTableStyles__ledger-address-table-wrapper {
  padding: 40px 0 !important;
}