.status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 0 32px;

  .status-icon-wrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      width: 48px;
      margin-bottom: 32px;
      height: 48px;
    }

    &.pending {
      border: 1px solid var(--amber-400);
      animation: rotate 2s cubic-bezier(1, 0, 0.5, 1) infinite;
      animation-delay: 1s;
    }

    &.info {
      border: 2px solid var(--action-bg-light);
    }

    &.fail {
      border: 1px solid var(--danger);
    }

    &.success {
      border: 1px solid var(--success);
    }

    .status-icon {
      display: flex;

      @media (min-width: 768px) {
        font-size: 24px;
      }

      &.info {
        color: var(--action-bg-light) !important;
      }

      &.fail {
        color: var(--danger);
      }

      &.success {
        color: var(--success);
      }

      &.pending {
        color: var(--amber-400);
      }
    }
  }

  .status-title,
  .status-subtitle {
    line-height: 1.25;
    font-weight: 500;
    color: var(--body-color);
    font-family: 'Roobert Medium', sans-serif;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  .status-subtitle {
    color: var(--heading-color);
  }
}
