.keystore-modal {
  $modal-offset: calc(
    100vh - 80px - #{var(--antiphishing-height)} - #{var(--modal-margin)}
  );

  @media (min-width: 768px) {
    $modal-offset: calc(
      100vh - 88px - #{var(--antiphishing-height)} - #{var(--modal-margin)}
    );
  }

  .modal-layout-content {
    position: relative;
    padding-top: 48px !important;

    .ledger-modal-subtitle {
      margin-bottom: 0 !important;
    }

    .modal-layout-subtitle {
      margin-bottom: 32px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .keystore-close {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    .keystore-wrapper {
      text-align: center;
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: min(555px, #{$modal-offset});

      @media (min-width: 576px) {
        min-height: min(540px, #{$modal-offset});
      }

      @media (min-width: 768px) {
        min-height: min(555px, #{$modal-offset});
      }

      @media (min-width: 768px) and (min-height: 950px) {
        min-height: min(745px, #{$modal-offset});
      }

      &.cheat {
        min-height: min(600px, #{$modal-offset});

        @media (min-width: 576px) {
          min-height: min(580px, #{$modal-offset});
        }

        @media (min-width: 768px) {
          min-height: min(605px, #{$modal-offset});
        }

        @media (min-width: 768px) and (min-height: 950px) {
          min-height: min(745px, #{$modal-offset});
        }
      }

      .keystore-form {
        margin: auto;
        width: 100%;
        flex: 1 1;
        display: flex;
        flex-direction: column;

        .keystore-form-wrapper {
          margin: auto;
          width: 100%;

          .keystore-dropzone-wrapper {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
